@{
    ViewData["Title"] = "About";
}

<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title">RESUME</h1>
    </header>

    <!-- .entry-content -->
    <div class="entry-content">
        <!-- row -->
        <div class="row">
            <!-- col 6/12 -->
            <div class="col-sm-7">

                <!-- .entry-content -->
                <div class="">

                    <p class="drop-cap">
                        I'm a web developer with more than 5 years experience. My main activity is the development of the back-end part of projects in C # (ASP.NET MVC, ASP.CORE).
                        I usually work in teams, but sometimes I work with my customers and promote my own projects.
                    </p>

                    <h3>Back-end develop</h3>
                    <p>Back-end development in C #, my core competency. My experience with .NET development is more than 5 years. I work with technologies such as ASP.NET MVC5,Web Api, ASP.CORE 2.0, EF6, MSSQL.</p>

                    <h3>Front-end develop</h3>
                    <p>I try to develop as a full-stack developer; therefore, in addition to back-end development, I also own technologies such as: HTML / CSS / LESS / JS (ES6) also have some experience in using Angular, VueJs.</p>

                    <h3>Project managment</h3>
                    <p>I understand a little about all business processes related to website development, including: marketing, usability, SEO, Content-Making. I had to work with different specialists from these areas.</p>

                    <!-- blockquote -->
                    <blockquote>
                        Chatter does not cost anything. Show me the code.
                        <cite>Linus Torvalds</cite>
                    </blockquote>
                    <!-- blockquote -->
                    
                        <h2>Well, my code lives here...</h2>
                        <div class="row">
                            <!-- col 4/12 -->
                            <div class="">
                                <h3>Projects in which I participated</h3>
                                <ul>
                                    <li><a target="_blank" href="https://brainoteka.com">LMS - Brainoteka</a></li>
                                    <li><a target="_blank" rel="nofollow" href="https://www.sgsdt.com/en/project/296">CRM finance company Bramid</a></li>
                                    <li><a target="_blank" rel="nofollow" href="https://www.sgsdt.com/ru/project/113">Crew4Crew</a></li>
                                    <li><a asp-action="Index" asp-controller="Portfolio">more ...</a></li>
                                </ul>
                            </div>
                            <!-- col 4/12 -->
                            <!-- col 4/12 -->
                            <div class="">
                                <h3>
                                    Public repositories that you can see
                                </h3>
                                <ul>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="https://github.com/k2moz/SASFW">
                                            SASFramework.Core
                                        </a>
                                        the beginning of a small framework for creating sites on ASp.Core MVC
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="https://github.com/k2moz/AmoCrm.NET">
                                            AmoCRM.NET
                                        </a>
                                        SDK for AmoCRM on C#
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="https://github.com/k2moz/VimeoApi.Net">
                                            VimeoApi.Net
                                        </a>
                                        SDK for Vimeo video service on C# .NET
                                    </li>
                                    <li><a target="_blank" href="https://github.com/k2moz">more ...</a></li>
                                </ul>
                            </div>
                            <!-- col 4/12 -->
                        </div>
                   
                </div>
                <!-- .entry-content -->
                <!-- timeline -->
                <div class="timeline">
                    <div class="event">
                        <h2>WORK HISTORY</h2>
                        <i class="pw-icon-bookmark-empty"></i>
                    </div>

                    <div class="event current">
                        <span class="date">Jan 2016 - Oct 2017</span>
                        <h4>Team-lead .NET developer</h4>
                        <h5>Moscow, <a target="_blank" rel="nofollow" href="www.sgsdt.com/en/">System Global Services</a></h5>
                        <p>
                            Duties:
                            <ul>
                                <li>
                                    Develop new and support existing solutions of companies on the stack:
                                    <ul>
                                        <li>
                                            <strong>Server-side:</strong> ASP.NET C #
                                        </li>
                                        <li><strong>Data:</strong> MSSQL</li>
                                        <li><strong>View:</strong> XML, XSLT, JSON -> HTML / CSS / JS (ES5) / jQuery</li>
                                    </ul>
                                </li>
                                <li>Setting and monitoring tasks between other developers and layout designers, within the framework of several projects</li>
                                <li>Communication with customers</li>
                            </ul>
                        </p>
                    </div>


                    <div class="event">
                        <span class="date">Jun 2012 - Dec 2013</span>
                        <h4>Web Developer</h4>
                        <h5>Google Inc.</h5>
                        <p>I worked as a Web Developer at Google for 3 years. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                    </div>

                    <div class="event">
                        <h2>EDUCATION</h2>
                        <i class="pw-icon-graduation-cap"></i>
                    </div>

                    <div class="event">
                        <span class="date">2016</span>
                        <h4>Magister - Computerized Automation Systems</h4>
                        <h5>MSTU Stankin</h5>
                        <p>Magister of the Department of Computerized Automation Systems - Industrial automation</p>
                    </div>


                    <div class="event">
                        <span class="date">2014</span>
                        <h4>Bachelor - Computerized Automation Systems</h4>
                        <h5>MSTU Stankin</h5>
                        <p>Bachelor of the Department of Computerized Automation Systems - Industrial automation</p>
                    </div>

                </div>
                <!-- timeline -->
                @*<p><a href="#" class="button"><i class="pw-icon-linkedin-squared"></i>My LinkedIn Profile</a></p>*@
            </div>
            <!-- col 6/12 -->
            <!-- col 6/12 -->
            <div class="col-sm-5">
                <h2 class="section-title">Back-end develop SKILLS</h2>
                <!-- DEV SKILLS -->
                <div class="skillset">
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>.NET C #</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress" style="width: 80%;"><span>80</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>ASP.NET MVC3-5, ASP.Net Core MVC</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress" style="width: 95%;"><span>95</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>OOP, patterns (IoC ...)</h4>
                        <div class="bar" data-percent="60">
                            <div class="progress" style="width: 60%;"><span>60</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>MSSQL, EF6 (Code-First), LINQ</h4>
                        <div class="bar" data-percent="60">
                            <div class="progress" style="width: 60%;"><span>60</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>SignalR</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress" style="width: 70%;"><span>70</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Tests</h4>
                        <div class="bar" data-percent="20">
                            <div class="progress" style="width: 20%;"><span>20</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                </div>

                <!-- DEV SKILLS -->
                <h2 class="section-title">Front-end develop SKILLS</h2>
                <!-- DEV SKILLS -->
                <div class="skillset">
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>HTML5</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress" style="width: 80%;"><span>80</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>CSS3, LESS, CSS Frameworks</h4>
                        <div class="bar" data-percent="65">
                            <div class="progress" style="width: 65%;"><span>65</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>JS (es6)</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress" style="width: 70%;"><span>70</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>jQuery</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress" style="width: 80%;"><span>80</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>VueJs</h4>
                        <div class="bar" data-percent="30">
                            <div class="progress" style="width: 30%;"><span>30</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Angular</h4>
                        <div class="bar" data-percent="20">
                            <div class="progress" style="width: 20%;"><span>20</span></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                </div>
                <!-- DEV SKILLS -->

                <h2 class="section-title">Other</h2>
                <!-- DEV SKILLS -->
                <div class="skillset">
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Git (github, bucket), SVN (Voult)</h4>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Self-organized</h4>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Ability to delegate and take responsibility</h4>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Project managment</h4>
                    </div>
                    <!-- .skill-unit -->

                </div>

                <h2 class="section-title">TESTIMONIALS</h2>

                <!-- testo-group -->
                <div class="testo-group">
                    <!-- Testimonial -->
                    <div class="testo">
                        <img src="https://www.sgsdt.com/ImageUpload/81793233-61d5-44b3-94b3-d837219a251b/nikita_Thumb.jpg" alt="Nikita Pavlov">
                        <h4>
                            Nikita Pavlov
                            <span>Founder / System Global Services</span>
                        </h4>
                        <p>
                            Alexander, while working in the company, performed the tasks himself, as well as assigned tasks to other programmers and coder. Took part in communication with customers
                            <a target="_blank" href="~/images/NpL.jpg" class="fluidbox"><div class="fluidbox-wrap"><img src="~/images/NpL.jpg" alt="Image" class="alignright" style="opacity: 1;"><div class="fluidbox-ghost"></div></div></a>
                            @*<a href="~/images/NpL.jpg"><img src="~/images/NpL.jpg" /></a>*@
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testo">
                        <img src="https://pp.userapi.com/c639628/v639628035/692e0/MHDwqiDC6VY.jpg" alt="Andrei Yurchenko">
                        <h4>
                            Andrei Yurchenko
                            <span>Employer</span>
                        </h4>
                        <p><q>You are a "schedule-man"</q></p>
                    </div>
                    <!-- Testimonial -->
                </div>
                <!-- testo-group -->
            </div>
            <!-- col 6/12 -->
        </div>
        <!-- row -->
    </div>
    <!-- .entry-content -->
</article>
