@{
    //ViewData["Title"] = "Home Page";
}



    <!-- InstanceBeginEditable name="LayoutMediumContent" -->
    <!-- .hentry -->
    <article class="hentry page">

        <!--<header class="entry-header">
            <h1 class="entry-title">a little about me</h1>
        </header>-->
        <!-- .entry-content -->
        <div class="entry-content">

            <!-- intro -->
            <div class="intro cf">

                <h2>
                    Hello. I am
                    <span class="rotate-words">
                        <span class="rotate-in active">a web programmer.</span>
                        <span class="rotate-out">a C# coder.</span>
                        <span class="rotate-out">a project manager.</span>
                        <span class="rotate-out">a .Net fan.</span>

                        <span class="rotate-out">an employer.</span>
                        <span class="rotate-out">a boss.</span>
                        <span class="rotate-out">a problem solver.</span>
                    </span>

                    <br>On this pages you will find the necessary information
                    <strong>about me</strong>, <strong>my projects</strong> and <strong>work</strong>.
                </h2>

            </div>
            <!-- intro -->


            <p class="launch-wrap"><a class="button" asp-action="Index" asp-controller="Portfolio">See My Portfolio</a></p>

            <h2 class="section-title center">SERVICES I CAN PROVIDE</h2>

            <!-- row -->
            <div class="row">

                <!-- column 6/12 -->
                <div class="col-sm-6 col-lg-4">

                    <!-- service -->
                    <div class="service">
                        <i class="pw-icon-network"></i>
                        <h4>Back-end develop</h4>
                        <p>
                            Back-end development in C #, my core competency.
                            My experience with .NET development is more than 5 years. I work with technologies such as ASP.NET MVC5,Web Api, ASP.CORE 2.0, EF6, MSSQL.
                        </p>
                    </div>
                    <!-- service -->
                </div>
                <!-- column 6/12 -->
                <!-- column 6/12 -->
                <div class="col-sm-6 col-lg-4">
                    <!-- service -->
                    <div class="service">
                        <i class="pw-icon-beaker"></i>
                        <h4>Front-end develop</h4>
                        <p>
                            I try to develop as a full-stack developer; therefore, in addition to back-end development, I also own technologies such as: HTML / CSS / LESS / JS (ES6) also have some experience in using Angular, VueJs.
                        </p>
                       
                    </div>
                    <!-- service -->
                </div>
                <!-- column 6/12 -->
                <!-- column 6/12 -->
                <div class="col-sm-6 col-lg-4">
                    <!-- service -->
                    <div class="service">
                        <i class="pw-icon-briefcase"></i>
                        <h4>Project Managment</h4>
                        <p>I understand a little about all business processes related to website development, including: marketing, usability, SEO, Content-Making. I had to work with different specialists from these areas.</p>
                    </div>
                    <!-- service -->
                </div>
                <!-- column 6/12 -->
              

            </div>
            <!-- row -->




            <h2 class="section-title center">FUN FACT</h2>

            <!-- row -->
            <div class="row">

                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pw-icon-beaker"></i>
                        <h4>21+ PROJECTS COMPLETED</h4>
                    </div>
                    <!-- fun-fact -->
                </div>
                <!-- column 3/12 -->
                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pw-icon-keyboard"></i>
                        <h4>96k+ LINES OF CODE WAS COMMITED IN 2017</h4>
                    </div>
                    <!-- fun-fact -->
                </div>
                <!-- column 3/12 -->
                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pw-icon-video-1"></i>
                        <h4>300+ VIDEO TUTORIALS PRODUCED</h4>
                    </div>
                    <!-- fun-fact -->
                </div>
                <!-- column 3/12 -->
                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pw-icon-pencil-alt"></i>
                        <h4>100+ ARTICLES WROTE</h4>
                    </div>
                    <!-- fun-fact -->
                </div>
                <!-- column 3/12 -->
              
                
            </div>
            <!-- row -->




            @*<h2 class="section-title center">latest from the blog</h2>
            <!-- post-list -->
            <div class="post-list">
                <ul>
                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">Runaway A Road Adventure</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">All In Our Head</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">Smaller Plate</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">Scrap Surf</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">Alice On The Roof</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article>
                            <h3 class="entry-title"><a href="http://themes.pixelwars.org/editor-html/blog-single.html">Well It's The Time</a></h3>
                            <div class="entry-meta">
                                <span class="read-time"><span class="eta">3 min</span> read</span>
                            </div>
                        </article>
                    </li>

                </ul>
            </div>
            <!-- post-list -->*@

        </div>
        <!-- .entry-content -->

    </article>
    <!-- .hentry -->
    <!-- InstanceEndEditable -->
